:root {
  --light-blue: #b9fcef;
  --pink: #ba2e7f;
  --white: #fefefe;
  --black: #181414;
  --red: #eb563f;
  --dark-blue: #3b06eb;
  --green: #d4f379;
  --spotify-green: #15883e;
}

[v-cloak] {
  display: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 48px;
  text-transform: uppercase;
  margin: 0;
}

h3 {
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 15px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  background: #000;
  color: #fff;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  touch-action: manipulation;
}

#app {
  max-width: 600px;
  margin: auto;
  position: relative;
}

.btn,
button {
  border: none;
  background: var(--spotify-green);
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border-radius: 500px;
  text-transform: uppercase;
  padding: 16px 32px;
  letter-spacing: 1px;
  min-width: 160px;
  text-decoration: none;
  display: inline-block;
  transition: background-color .3s;
}

.btn:hover,
button:hover {
  background: #1db954;
}

input[type="number"],
input[type="text"] {
  font-size: 14px;
  border: none;
  border-radius: 25px;
  height: 40px;
  padding: 16px;
  color: ##222326;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9dadc;
  border-radius: 25px;
  min-width: 160px;
  text-align: center;
}

.important-ui {
  position: relative;
  z-index: 3;
}

.btn-white {
  background: var(--white) !important;
  color: var(--black);
}

.btn-pink {
  background: var(--pink) !important;
  color: var(--white);
}

.btn-green {
  background: var(--green) !important;
  color: var(--dark-blue);
}

.btn-light-blue {
  background: var(--light-blue) !important;
  color: var(--pink);
}

.story-wrapper {
  border-radius: 5px;
  overflow: hidden;
  margin: auto;
  display: inline-block;
}

.story {
  width: 1080px;
  height: 1920px;
  background-image: linear-gradient(to bottom, #4534e9, #ce00b6, #ff007f, #ff5554, #ff913d, #f39839, #e79e37, #dba338, #c6802a, #ae5e20, #933d18, #761d11);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  text-align: left;
}

.hidden-story {
  position: absolute;
  top: 0;
  left: -2000px;
  z-index: -1;
}

.visible-story {
  transform: scale(0.23);
  margin: -720px 0;
}

.story * {
  font-weight: 600;
}

.story .content {
  padding: 50px;
  width: 80%;
  height: 90%;
  position: relative;
  transition: background-color .2s;
}

.story .photo {
  text-align: center;
  margin-bottom: 25px;
  position: relative;
}

.story .photo .gradient {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 520px;
  background-image: linear-gradient(to bottom, #e6e982, #e2ca60, #ddaa45, #d78a30, #ce6824, #d2512c, #d23437, #cf0045, #d20066, #c5008f, #a000bd, #3e31e9);
  border-radius: 2px;
}

.story .photo img {
  width: 640px;
  height: 640px;
  object-fit: cover;
  position: relative;
  z-index: 2;
}

.story section {
  margin-left: 2%;
  width: 48%;
  float: left;
  min-height: 220px;
  margin-bottom: 25px;
}

.story li {
  white-space: nowrap;
  overflow: hidden;
}

.story li span {
  width: 20px;
  display: inline-block;
}

.story li em {
  font-style: normal;
}

.story footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 32px;
}

.story footer img {
  height: 64px;
}

.story footer span {
  font-weight: 700;
}

.theme-selector {
  z-index: 3;
  position: relative;
  margin: 10px 0 20px;
}

.theme-selector a {
  opacity: 0.7;
  transition: all .3s;
  display: inline-block;
}

.theme-selector a.active {
  opacity: 1;
  transform: scale(1.05);
}

.theme-selector img {
  background: var(--white);
  border: 2px solid var(--white);
  border-radius: 100%;
  width: 32px;
  margin: 4px 8px;
}

.top-icons {
  position: absolute;
  top: 20px;
  left: 10px;
  right: 10px;
  z-index: 2;
}

.top-icons a {
  width: 35px;
  padding: 5px;
}

.top-icons .logo {
  float: left;
}

.top-icons .music {
  float: right;
}

.top-icons .sound-indicator {
  float: right;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: var(--light-blue);
  color: var(--pink);
  border-radius: 50px;
  padding: 5px 10px;
}

.slide-indicator {
  position: absolute;
  top: 10px;
  left: 5px;
  right: 5px;
  display: flex;
  z-index: 2;
}

.slide-indicator div {
  background: var(--white);
  height: 4px;
  margin: 0 4px;
  border-radius: 2px;
  flex: 1;
  transition: opacity .4s;
}

.slide-indicator div.incomplete {
  opacity: 0.5;
}

.slide {
  height: 73vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  border-radius: 10px;
  margin: 3px;
  padding: 30px;
  background: var(--pink);
  color: var(--light-blue);
}

.slide:not(.story-slide) {
  transition: background-color .5s;
}

.slide p {
  font-size: 20px;
  font-weight: 600;
}

.slide p:last-child {
  margin-bottom: 0;
}

.slide nav button {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 25%;
  opacity: 0;
}

.slide nav .prev {
  left: 0;
}

.slide nav .next {
  right: 0;
}

.slide b {
  color: var(--white);
  font-weight: 600;
}

.slide a:not(.btn) {
  color: inherit;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in-copy p {
  opacity: 0;
  animation-fill-mode: forwards;
  animation-duration: .6s;
  animation-name: fade-in;
  animation-timing-function: ease-in;
}

.fade-in-copy p:nth-child(2) {
  animation-delay: 1s;
}

.fade-in-copy p:nth-child(3) {
  animation-delay: 2s;
}

.fade-in-copy p:nth-child(4) {
  animation-delay: 3s;
}

.fade-in-copy p:nth-child(5) {
  animation-delay: 4s;
}

.fade-in-copy p:nth-child(6) {
  animation-delay: 5s;
}

.fade-in-copy p:nth-child(7) {
  animation-delay: 6s;
}

.fade-in-copy p:nth-child(8) {
  animation-delay: 7s;
}

.fade-in-copy p:nth-child(9) {
  animation-delay: 8s;
}

.fade-in-copy p:nth-child(10) {
  animation-delay: 9s;
}

@keyframes slide-in {
  from {
    transform: translate3d(0, 70%, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.slide-in {
  animation: slide-in .5s ease-out;
}

@keyframes scale-in {
  from {
    transform: scale(0.5);
    opacity: 0;
  }

  to {
    transform: scale(1.0);
    opacity: 1;
  }
}

.scale-in {
  animation: scale-in .5s ease-out;
}

.slide-2,
.slide-6 {
  color: var(--green);
  background-color: var(--dark-blue);
}

.slide-3,
.slide-7 {
  color: var(--pink);
  background-color: var(--light-blue);
}

.slide-3 b,
.slide-7 b {
  color: var(--black);
}

.slide-4 {
  color: var(--black);
  background: var(--red);
}

.slide-5 {
  color: var(--light-blue);
  background: var(--pink);
}

.slide-8 {
  background: #000;
  color: #fff;
}

.story-slide,
.slide-8 {
  background-color: #000;
  height: 85vh;
}

img.top-track {
  width: 160px;
  height: 160px;
}

.slide small {
  color: var(--white);
  font-size: 80%;
}

.slide .logos {
  margin-bottom: 50px;
}

.slide .logos .plus {
  display: block;
  margin: 10px 0 0;
  font-size: 32px;
}

.slide .logos .umaw-logo {
  width: 100px;
}

.slide .logos .fftf-logo {
  width: 250px;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(9vh);
}

#footer .sign-petition {
  color: var(--white);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer .sign-petition img {
  height: 32px;
  background: var(--white);
  width: 32px;
  border-radius: 100%;
  padding: 5px;
  margin-right: 9px;
}

.login-screen {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  color: #000;
  background: #fff;
}

.login-screen h1 {
  display: flex;
  align-items: center;
  font-size: 40px;
  margin: 0;
}

.login-screen .logo {
  height: 60px;
}

/* Theme 1 */
.theme-1 {
  color: var(--white);
}

.theme-1 h2,
.theme-1 em {
  color: var(--green);
}

.theme-1 .content {
  background: var(--dark-blue);
}

.theme-1 footer {
  color: var(--dark-blue);
  background: var(--green);
}

.theme-selector a:nth-child(1) img {
  background: var(--green);
  border-color: var(--green);
}

/* Theme 2 */
.theme-2 {
  color: var(--white);
}

.theme-2 h2,
.theme-2 em {
  color: var(--light-blue);
}

.theme-2 .content {
  background: var(--pink);
}

.theme-2 footer {
  color: var(--pink);
  background: var(--light-blue);
}

.theme-selector a:nth-child(2) img {
  background: var(--light-blue);
  border-color: var(--light-blue);
}

/* Theme 3 */
.theme-3 {
  color: var(--white);
}

.theme-3 h2,
.theme-3 em {
  color: var(--red);
}

.theme-3 .content {
  background: var(--black);
}

.theme-3 footer {
  color: var(--black);
  background: var(--red);
}

.theme-selector a:nth-child(3) img {
  background: var(--red);
  border-color: var(--red);
}

/* Theme 4 */
.theme-4 {
  color: var(--black);
}

.theme-4 h2,
.theme-4 em {
  color: var(--pink);
}

.theme-4 .content {
  background: var(--light-blue);
}

.theme-4 footer {
  color: var(--light-blue);
  background: var(--pink);
}

.theme-selector a:nth-child(4) img {
  background: var(--pink);
  border-color: var(--pink);
}

@media only screen and (min-width: 600px) {
  .visible-story {
    transform: scale(0.3);
    margin: -650px 0;
  }

  .slide {
    height: 88vh;
  }

  .story-slide {
    height: 100vh;
  }

  .theme-selector {
    margin-bottom: 30px;
  }
}

.spinny-slide img {
  width: 50%;
}
