<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, viewport-fit=cover">
    <title>Spotify Unwrapped</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script src="js/vue.js"></script>
    <script src="js/html2canvas.min.js"></script>
    <script src="js/hammer.min.js"></script>
    <script src="js/app.js?v=2"></script>
  </head>
  <body>
    <div id="app">
      <div v-if="isLoggedIn && topTracks.length > 0">
        <div class="slide-indicator">
          <div v-for="n in slideCount" :class="n > slide ? 'incomplete' : ''"></div>
        </div>

        <div class="top-icons">
          <a href="https://www.unionofmusicians.org/justice-at-spotify" target="_blank" class="logo">
            <img src="img/header-logo.png" alt="Justice at Spotify logo">
          </a>
          <a href="#" @click.prevent="toggleMusic()" class="music">
            <img v-if="isMuted" src="img/muted-icon.svg" alt="unmute music">
            <img v-else-if="!isMuted" src="img/unmuted-icon.svg" alt="mute music">
          </a>
        </div>

        <div :class="`slide slide-${slide} ${isStory ? 'story-slide' : ''}`">

          <div v-if="slide == 1">
            <div class="slide-in">
              <h2>Genrelust</h2>
              <p>Who says you have to go outside to explore?</p>
            </div>
          </div>

          <div v-else-if="slide < slideCount">
            <div class="slide-in">
              <h2>Slide {{ slide }}</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>

          <div v-else-if="slide == slideCount">

            <div :class="storyTransitionClass">
              <div class="story-wrapper">
                <div class="story visible-story" :class="`theme-${theme}`" ref="story">
                  <div class="content">
                    <div class="photo">
                      <div class="gradient"></div>
                      <img :src="topTracks[0].album.images[0].url" alt="" @load="createImage()">
                    </div>

                    <section>
                      <h3>TOP ARTISTS</h3>
                      <ul>
                        <li v-for="(item, index) in topArtists.slice(0, 5)">
                          <span>{{ index+1 }}</span>
                          <em>{{ item.name | truncate }}</em>
                        </li>
                      </ul>
                    </section>

                    <section>
                      <h3>TOP SONGS</h3>
                      <ul>
                        <li v-for="(item, index) in topTracks.slice(0, 5)">
                          <span>{{ index+1 }}</span>
                          <em>{{ item.name | truncate }}</em>
                        </li>
                      </ul>
                    </section>

                    <section>
                      <h3>MINUTES LISTENED</h3>
                      <h2>{{ minutesListenedFormatted }}</h2>
                    </section>

                    <section>
                      <h3>EST. PAID TO ARTISTS</h3>
                      <h2>{{ estimatedArtistEarningsFormatted }}</h2>
                    </section>

                    <footer>
                      <img class="logo" :src="`img/footer-logo-${theme}.png`" alt="Logo">
                      <span>#JusticeAtSpotify</span>
                    </footer>
                  </div>
                </div>
              </div>

              <div class="theme-selector important-ui">
                <a href="#" @click.prevent="theme = n" v-for="n in themeCount" :class="theme == n ? 'active' : ''"><img :src="`img/footer-logo-${n}.png`" :alt="`Theme ${n}`"></a>
              </div>

              <a class="btn btn-white important-ui" :href="imageDataURL" target="_blank">Share</a>
            </div>
          </div> <!-- /slide:6 -->

          <nav>
            <button class="prev" @click="prevSlide()"></button>
            <button class="next" @click="nextSlide()"></button>
          </nav>
        </div>

        <footer id="footer" v-if="!isStory">
          <a href="https://www.unionofmusicians.org/justice-at-spotify" target="_blank" class="sign-petition">
            <img src="img/petition-icon.svg" alt="">
            <span>Sign the Petition</span>
          </a>
        </footer>
      </div>

      <div v-else class="login-screen">
        <div>
          <img src="img/footer-logo-3.png" alt="Logo" class="logo">
          <h1>Spotify Unwrapped (Beta)</h1>
          <p>To continue, log in with Spotify</p>
          <br>
          <a class="btn" :href="authorizeURL">Log in</a>
        </div>
      </div>
    </div>
  </body>
</html>
